<div class="alert alert-success">
  <table>
    <td>model</td>
    <td>price</td>
    <td>power</td>
    <tr *ngFor="let car of cars">
      <td>{{ car.model }}</td>
      <td>{{ car.price }}</td>
      <td>{{ car.power }}</td>
      <td><button class="btn btn-danger" (click)="delete(car.id)">DELETE</button> </td>
      <td><button class="btn btn-primary" (click)="edit(car.id)">EDIT</button> </td>
    </tr>
  </table>
</div>
<div class="form-group">
  <button class="btn btn-success" (click)="add()">ADD CAR</button>
</div>


